<div class="container">
    {#            <hr>#}
    <footer class="center-text">
        <div class="wrapper">
            {#                <div class="row">#}
            {#                    <div class="col-lg-12">#}
            <p>Copyright &copy; ToDo & Co</p>
            {#                    </div>#}
            {#                </div>#}
        </div>
    </footer>

</div>