<footer class="center-text">
    <div class="container">
        <div class="wrapper">
            <p>Copyright &copy; <a href="https://github.com/FlorianJourde/OpenClassrooms-8-Enhance-an-existing-ToDo-and-Co-app" target="_blank">ToDo & Co</a> • Par <a href="https://florianjourde.com/" target="_blank">Ctrl + FJ</a></p>
        </div>
    </div>
</footer>
