:root {
  --clr-very-light-blue: #f0f4fd;
  --clr-very-light-yellow: #fff5ca;
  --clr-yellow: #fec957;
  --clr-dark-yellow: #9a782c;
  --clr-very-dark-yellow: #785c1e;
  --clr-very-light-pink: #ffe2e1;
  --clr-pink: #fe746e;
  --clr-dark-pink: #a8433f;
  --clr-very-dark-pink: #822a27;
  --clr-blue: #6aa5ff;
  --clr-dark-blue: #1a54b5;
  --clr-very-dark-blue: #2b2950;
  --clr-very-light-green: #e9fbdd;
  --clr-dark-green: #728663;
  --clr-very-light-purple: #f7e9ff;
  --clr-white: white;
  --clr-black: black;
  --clr-light-grey: #ccc;
  --clr-very-light-grey: #eee;
  --clr-grey: #82878b;
  --clr-dark-grey: #444444;
  --clr-very-dark-grey: #313131;
  --clr-transparent-grey: hsla(0, 0%, 0%, 0.25);
  --clr-transparent-black: hsla(0, 0%, 0%, 0.5);
  --clr-transparent: hsla(0, 0%, 0%, 0);
  --ff-primary: Poppins, sans-serif;
  --ff-secondary: Caveat Brush, sans-serif;
  --fs-very-big-title: 60px;
  --fs-big-title: 40px;
  --fs-title: 30px;
  --fs-small-title: 24px;
  --fs-big-text: 20px;
  --fs-regular-text: 16px;
  --fs-small-text: 12px;
  --fw-bold: 600;
  --fw-regular: 500;
  --fw-thin: 400;
  --bs-primary: 0 10px 10px #00000005;
  --bs-secondary: 0 10px 20px #00000010;
  --br-primary: 15px;
  --br-secondary: 25px;
  --br-tertiary: 40px;
}