{% extends 'base.html.twig' %}

{% block body %}

    {% include 'partials/tasks-list.html.twig' %}

    <section class="add-task-section">
        <div class="wrapper actions margin-top-50">
            <a href="{{ path('app_task_list') }}" class="button-primary button-big button-blue">Voir toutes les tâches</a>
        </div>
    </section>

{% endblock %}
