{% extends 'base.html.twig' %}

{% block body %}

    <div class="wrapper">
        {% include 'partials/tasks-list.html.twig' %}
        <div class="actions margin-top-50">
            <a href="{{ path('app_task_list') }}" class="button-primary button-big button-blue">Voir toutes les tâches</a>
        </div>
    </div>

{% endblock %}
