{% extends 'base.html.twig' %}

{% block title %}Éditer la tâche{% endblock %}

{% block body %}

    <div class="create-task-section margin-top-50">
        <div class="wrapper wrapper-small">

            {{ form_start(form, {'action' : path('app_task_edit', { 'id' : task.id })}) }}
                {{ form_row(form.title) }}
                {{ form_row(form.content) }}
                <button type="submit" class="button-primary button-blue button-big btn btn-success">Modifier</button>
            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}
