{% extends 'base.html.twig' %}

{% block title %}Toutes les tâches{% endblock %}

{% block header_img %}<img class="slide-image" src="{{ asset('img/todolist_content.jpg') }}" alt="todo list">{% endblock %}

{% block body %}
    <div class="wrapper">
        <a href="{{ path('app_task_create') }}" class="btn btn-info pull-right">Créer une tâche</a>
        {% include 'partials/tasks-list.html.twig' %}
    </div>
{% endblock %}
