{% extends 'base.html.twig' %}

{% block title %}Toutes les tâches{% endblock %}

{% block header_img %}<img class="slide-image" src="{{ asset('img/todolist_content.jpg') }}" alt="todo list">{% endblock %}

{% block body %}
    <div class="wrapper">
{#        <div class="actions margin-top-50">#}
{#            <a href="{{ path('app_task_create') }}" class="button-primary button-big button-blue">Créer une tâche</a>#}
{#        </div>#}
        {% include 'partials/tasks-list.html.twig' %}
    </div>
{% endblock %}
