<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fe746e">
    <meta name="msapplication-navbutton-color" content="#fe746e">
    <title>{% block title %}Accueil{% endblock %} | ToDo & Co</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" type='text/css'>
</head>

<body>
    {% include 'partials/navbar.html.twig' %}
    {% include 'partials/banner.html.twig' with { banner_title: block('title') } %}
    {% block body %}{% endblock %}
    {% include 'partials/footer.html.twig' %}
</body>

</html>
