<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap" rel="stylesheet">
    <title>{% block title %}Accueil{% endblock %} | ToDo & Co</title>
</head>

<body>
    {% include 'partials/navbar.html.twig' %}
    {% include 'partials/banner.html.twig' with { banner_title: block('title') } %}
    {% block body %}{% endblock %}
    {% include 'partials/footer.html.twig' %}
    <script src="{{ asset('js/custom.js') }}"></script>
</body>
</html>
