{% extends 'base.html.twig' %}

{% block title %}Créer un utilisateur{% endblock %}

{% block body %}

    <div class="create-user-section margin-top-50">
        <div class="wrapper wrapper-small">

            {{ form_start(form, {'action' : path('app_user_create')}) }}
                {{ form_widget(form) }}
                <button type="submit" class="button-primary button-blue button-big">Ajouter</button>
            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}
